<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
      <ion-title align="center">Cupom</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p>Peça para o lojista escanear o QR-code ou tecle no link para obter o cupom</p>
    <ngx-qrcode
      [elementType]="elementType"
      [errorCorrectionLevel]="correctionLevel"
      [value]="value"
      align="center">
    </ngx-qrcode>
    
    <a [href]="value" align="center">{{value}}</a>

  </ion-content>