<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ofertas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ofertas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngFor="let company of companies; let i = index">
    <ion-row>
      <ion-col>
        <ion-card>
          <img [src]="'https://picsum.photos/512/512?random=' + i">
          <ion-card-header>
            <ion-card-title>{{company.name}}</ion-card-title>
            <ion-card-subtitle>{{company.price}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>{{company.description}}</ion-card-content>
          <ion-button fill = "clear">Mais informações</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Scary Goose" src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Scary_goose.jpg" />
          <ion-card-header>
            <ion-card-title></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            
          </ion-card-content>
          <ion-button fill="clear"> Mais informações</ion-button>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <img alt="Small houses" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Some_Old_Houses_Goslar.jpg" />
          <ion-card-header>
            <ion-card-title>AeroTri Gear Emporium</ion-card-title>
            <ion-card-subtitle>kit de equipamento ao ar livre de cortesia</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Chamando todos os caçadores de aventura! Compre qualquer mountain bike e receba um kit de equipamento ao ar livre de cortesia, incluindo uma mochila à prova d'água, ferramentas para consertar bicicletas e um kit de primeiros socorros.
          </ion-card-content>
          <ion-button fill="clear"> Mais informações</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="galleria" src="https://upload.wikimedia.org/wikipedia/commons/1/10/Napoli-galleria_umberto.jpg" />
          <ion-card-header>
            <ion-card-title>Wanderlust Cycling Tours</ion-card-title>
            <ion-card-subtitle>cestos personalizados e uma luz grátis</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Prepare-se para o seu trajeto! Compre uma bicicleta urbana e ganhe um conjunto GRATUITO de cestos personalizados e uma luz de bicicleta recarregável para mantê-lo visível e organizado na estrada.
          </ion-card-content>
          <ion-button fill="clear">Mais informações</ion-button>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <img alt="volvo" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/1969_Volvo_121.JPG" />
          <ion-card-header>
            <ion-card-title>Pedal Pals Family Bikes</ion-card-title>
            <ion-card-subtitle>Até 40% desconto ao trazer um amigo</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Extravagância de descontos para amigos e família! Desfrute de 40% de desconto em toda a loja ao trazer um amigo. Espalhe as economias!
          </ion-card-content>
          <ion-button fill="clear"> Mais informações</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="roast" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Thuringian_roast.jpg" />
          <ion-card-header>
            <ion-card-title>Trailblazer Bikes</ion-card-title>
            <ion-card-subtitle>30% OFF qualquer produto da loja</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Oferta por tempo limitado: libere seu caçador de pechinchas! Desfrute de um desconto extra de 30% em todos os itens de liquidação. Não perca!
          </ion-card-content>
          <ion-button fill="clear"> Mais informações</ion-button>
        </ion-card>
      </ion-col>
      
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Soccer_goalkeeper.jpg" />
          <ion-card-header>
            <ion-card-title>Urban Cycle Co.</ion-card-title>
            <ion-card-subtitle>Compra um, leve dois!</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Super Saver Spectacular! Compre um, ganhe outro GRÁTIS em roupas e acessórios de ciclismo selecionados. Estoque agora!
          </ion-card-content>
          <ion-button fill="clear"> Mais informações</ion-button>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
