<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home title
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
    </ion-avatar>

    <ion-label> Avatar Item </ion-label>
    
    <div align="center">
      <ion-icon name="logo-bitcoin" slot="end"></ion-icon>
      <ion-label slot="end">100</ion-label>
    </div>
  </ion-item>

  <ion-row style="height: 200px"></ion-row> <!-- TODO: Deixar menos hardcodado preferencialmente usando css-->

  <ion-card>
    <img alt="Silhouette of mountains" src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/191:100/w_1280,c_limit/GoogleMapTA.jpg" />
  </ion-card>


  <ion-list style="text-align:center">

    <ion-button (click) = "sendPostRequest()">
      <ion-icon slot="start" name="alert-circle-outline" ></ion-icon>
      Reportar problema na via
    </ion-button>

    <ion-button>
      <ion-icon slot="start" name="map-outline" ></ion-icon>
      Criar Trajeto
    </ion-button>

  </ion-list>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home bar</ion-title>
    </ion-toolbar>
  </ion-header> -->

</ion-content>
